In [84]:
import requests
from bs4 import BeautifulSoup as bs
import re
import time, random
import pandas as pd

In [85]:
## Unpickle the data
df_21 = pd.read_pickle('2021 movie data part 1')
df_21.head()

,Name,Domestic,International,Worldwide,Distributor,Opening,Release Date,MPAA,Running Time,Genres,In Release,Widest Release,Budget
0,Spider-Man: No Way Home,"$750,429,025","$1,027,000,000","$1,777,429,025",Sony Pictures Entertainment (SPE),"$260,138,569","Dec 17, 2021",PG-13,2 hr 28 min,"[Action, Adventure, Fantasy, Sci-Fi]",54 days,"4,336 theaters",NaN
1,Shang-Chi and the Legend of the Ten Rings,"$224,543,292","$207,689,718","$432,233,010",Walt Disney Studios Motion Pictures,"$75,388,688","Sep 3, 2021",PG-13,2 hr 12 min,"[Action, Adventure, Fantasy, Sci-Fi]",159 days,"4,300 theaters",NaN
2,Venom: Let There Be Carnage,"$213,550,366","$288,500,000","$502,050,366",Sony Pictures Entertainment (SPE),"$90,033,210","Oct 1, 2021",PG-13,1 hr 37 min,"[Action, Adventure, Sci-Fi, Thriller]",131 days,"4,225 theaters",NaN
3,Black Widow,"$183,651,655","$195,979,696","$379,631,351",Walt Disney Studios Motion Pictures,"$80,366,312","Jul 9, 2021",PG-13,2 hr 14 min,"[Action, Adventure, Sci-Fi]",215 days,"4,275 theaters",NaN
4,F9: The Fast Saga,"$173,005,945","$553,223,556","$726,229,501",Universal Pictures,"$70,043,165","Jun 25, 2021",PG-13,2 hr 23 min,"[Action, Crime, Thriller]",229 days,"4,203 theaters",NaN

In [86]:
## Unpickle the data
df_21_2 = pd.read_pickle('2021 movie data part 2')
df_21_2.tail()

,Name,Domestic,International,Worldwide,Distributor,Opening,Release Date,MPAA,Running Time,Genres,In Release,Widest Release,Budget
94,The Resort,"$191,996","$16,643","$208,639",Vertical Entertainment,"$88,831","Apr 30, 2021",NaN,1 hr 15 min,[Horror],285 days,114 theaters,NaN
95,Kaamelott: First Installment,"$188,000","$21,774,753","$21,962,753",Paramount Pictures,"$188,000","Jul 23, 2021",NaN,2 hr,"[Adventure, Comedy, Fantasy]",201 days,26 theaters,NaN
96,Earwig and the Witch,"$173,704","$669,040","$842,744",GKIDS,"$92,029","Feb 3, 2021",PG,1 hr 22 min,"[Adventure, Animation, Family, Fantasy]",371 days,430 theaters,NaN
97,"My Country, My Parents","$166,807","$221,535,016","$221,701,823",CMC Pictures,"$75,302","Oct 8, 2021",NaN,2 hr 37 min,[Drama],124 days,51 theaters,NaN
98,I Carry You with Me,"$166,403","$27,457","$193,860",Sony Pictures Classics,"$17,127","Jun 25, 2021",R,1 hr 51 min,[Drama],229 days,111 theaters,NaN

In [87]:
## Concatenate data
all_2021 = pd.concat([df_21,df_21_2], axis=0, ignore_index=True)
all_2021.tail()

,Name,Domestic,International,Worldwide,Distributor,Opening,Release Date,MPAA,Running Time,Genres,In Release,Widest Release,Budget
193,The Resort,"$191,996","$16,643","$208,639",Vertical Entertainment,"$88,831","Apr 30, 2021",NaN,1 hr 15 min,[Horror],285 days,114 theaters,NaN
194,Kaamelott: First Installment,"$188,000","$21,774,753","$21,962,753",Paramount Pictures,"$188,000","Jul 23, 2021",NaN,2 hr,"[Adventure, Comedy, Fantasy]",201 days,26 theaters,NaN
195,Earwig and the Witch,"$173,704","$669,040","$842,744",GKIDS,"$92,029","Feb 3, 2021",PG,1 hr 22 min,"[Adventure, Animation, Family, Fantasy]",371 days,430 theaters,NaN
196,"My Country, My Parents","$166,807","$221,535,016","$221,701,823",CMC Pictures,"$75,302","Oct 8, 2021",NaN,2 hr 37 min,[Drama],124 days,51 theaters,NaN
197,I Carry You with Me,"$166,403","$27,457","$193,860",Sony Pictures Classics,"$17,127","Jun 25, 2021",R,1 hr 51 min,[Drama],229 days,111 theaters,NaN

In [88]:
## Unpickle the data 2020
df_20 = pd.read_pickle('2020 movie data')
df_20.tail(10)

,Name,Domestic,International,Worldwide,Distributor,Opening,Budget,Release Date,MPAA,Running Time,Genres,In Release,Widest Release
190,The Wolf of Snow Hollow,"$185,026","$81,937","$266,963",United Artists Releasing,"$91,943",NaN,"Oct 9, 2020",R,1 hr 25 min,"[Comedy, Horror, Mystery, Thriller]",84 days,112 theaters
191,Come Away,"$184,477","$1,508,017","$1,692,494",Relativity Media,"$106,084",NaN,"Nov 13, 2020",PG,1 hr 34 min,"[Adventure, Drama, Fantasy]",56 days,475 theaters
192,The Good Liar,"$17,156,058","$16,700,000","$33,856,058",Warner Bros.,"$5,605,051","$10,000,000","Nov 15, 2019",R,1 hr 49 min,"[Crime, Drama, Mystery, Thriller]",413 days,"2,454 theaters"
193,And Then We Danced,"$177,262","$444,184","$621,446",Music Box Films,"$13,880",NaN,"Feb 7, 2020",NaN,1 hr 53 min,"[Drama, Romance]",329 days,23 theaters
194,Beanpole,"$196,258","$1,395,363","$1,591,621",Kino Lorber,"$10,008",NaN,"Jan 29, 2020",NaN,2 hr 10 min,"[Drama, War]",338 days,35 theaters
195,Follow Me,"$167,962","$4,135,870","$4,303,832",Vertical Entertainment,"$79,182",NaN,"Sep 18, 2020",R,1 hr 31 min,"[Adventure, Horror, Mystery, Thriller]",105 days,50 theaters
196,Extra Ordinary,"$164,346","$59,552","$223,898",Good Deed Entertainment,"$82,543",NaN,"Mar 6, 2020",R,1 hr 34 min,"[Comedy, Fantasy, Horror]",301 days,80 theaters
197,Palm Springs,"$164,000","$1,348,871","$1,512,871",Neon,"$164,000",NaN,"Jul 10, 2020",R,1 hr 30 min,"[Comedy, Fantasy, Mystery, Romance]",175 days,66 theaters
198,A Call to Spy,"$159,014","$678,898","$837,912",IFC Films,"$35,098",NaN,"Oct 2, 2020",PG-13,2 hr 3 min,"[Biography, Crime, Drama, Thriller, War]",98 days,79 theaters
199,Love Story,"$153,504","$153,504",Null,Fathom Events,"$87,198",NaN,"Feb 9, 2020",PG,1 hr 40 min,"[Drama, Romance]",327 days,650 theaters

In [89]:
## Concatenate data
## It worked! Columns lined up!
all_20_21 = pd.concat([all_2021,df_20], axis=0, ignore_index=True)
all_20_21.tail(10)

,Name,Domestic,International,Worldwide,Distributor,Opening,Release Date,MPAA,Running Time,Genres,In Release,Widest Release,Budget
388,The Wolf of Snow Hollow,"$185,026","$81,937","$266,963",United Artists Releasing,"$91,943","Oct 9, 2020",R,1 hr 25 min,"[Comedy, Horror, Mystery, Thriller]",84 days,112 theaters,NaN
389,Come Away,"$184,477","$1,508,017","$1,692,494",Relativity Media,"$106,084","Nov 13, 2020",PG,1 hr 34 min,"[Adventure, Drama, Fantasy]",56 days,475 theaters,NaN
390,The Good Liar,"$17,156,058","$16,700,000","$33,856,058",Warner Bros.,"$5,605,051","Nov 15, 2019",R,1 hr 49 min,"[Crime, Drama, Mystery, Thriller]",413 days,"2,454 theaters","$10,000,000"
391,And Then We Danced,"$177,262","$444,184","$621,446",Music Box Films,"$13,880","Feb 7, 2020",NaN,1 hr 53 min,"[Drama, Romance]",329 days,23 theaters,NaN
392,Beanpole,"$196,258","$1,395,363","$1,591,621",Kino Lorber,"$10,008","Jan 29, 2020",NaN,2 hr 10 min,"[Drama, War]",338 days,35 theaters,NaN
393,Follow Me,"$167,962","$4,135,870","$4,303,832",Vertical Entertainment,"$79,182","Sep 18, 2020",R,1 hr 31 min,"[Adventure, Horror, Mystery, Thriller]",105 days,50 theaters,NaN
394,Extra Ordinary,"$164,346","$59,552","$223,898",Good Deed Entertainment,"$82,543","Mar 6, 2020",R,1 hr 34 min,"[Comedy, Fantasy, Horror]",301 days,80 theaters,NaN
395,Palm Springs,"$164,000","$1,348,871","$1,512,871",Neon,"$164,000","Jul 10, 2020",R,1 hr 30 min,"[Comedy, Fantasy, Mystery, Romance]",175 days,66 theaters,NaN
396,A Call to Spy,"$159,014","$678,898","$837,912",IFC Films,"$35,098","Oct 2, 2020",PG-13,2 hr 3 min,"[Biography, Crime, Drama, Thriller, War]",98 days,79 theaters,NaN
397,Love Story,"$153,504","$153,504",Null,Fathom Events,"$87,198","Feb 9, 2020",PG,1 hr 40 min,"[Drama, Romance]",327 days,650 theaters,NaN

In [90]:
## Unpickle the data 2019
df_19 = pd.read_pickle('2019 movie data')
df_19.tail(5)

,Name,Domestic,International,Worldwide,Distributor,Opening,Budget,Release Date,MPAA,Running Time,Genres,In Release,Widest Release
195,Welcome to Marwen,"$10,763,520","$2,297,971","$13,061,491",Universal Pictures,"$2,354,205",NaN,"Dec 21, 2018",PG-13,1 hr 56 min,"[Biography, Comedy, Drama, Fantasy, Romance]",376 days,"1,911 theaters"
196,"My People, My Country","$2,356,683","$447,708,310","$450,064,993",CMC Pictures,"$876,001",NaN,"Oct 1, 2019",NaN,2 hr 34 min,"[Drama, History]",94 days,83 theaters
197,Promare,"$2,529,324","$7,153,740","$9,683,064",GKIDS,"$109,085",NaN,"Sep 17, 2019",PG-13,1 hr 51 min,"[Action, Adventure, Animation, Comedy, Drama, ...",876 days,701 theaters
198,Super 30,"$2,269,878","$22,431,759","$24,701,637",Reliance Big Pictures,"$871,256",NaN,"Jul 12, 2019",NaN,2 hr 34 min,"[Biography, Drama]",173 days,317 theaters
199,Faustina: Love and Mercy,"$2,243,180","$1,255,707","$3,498,887",Fathom Events,NaN,NaN,"Oct 28, 2019",NaN,1 hr 47 min,"[Biography, Drama, Family]",67 days,810 theaters

In [91]:
## Concatenate data
all_21_20_19 = pd.concat([all_20_21,df_19], axis=0, ignore_index=True)
all_21_20_19.tail()

,Name,Domestic,International,Worldwide,Distributor,Opening,Release Date,MPAA,Running Time,Genres,In Release,Widest Release,Budget
593,Welcome to Marwen,"$10,763,520","$2,297,971","$13,061,491",Universal Pictures,"$2,354,205","Dec 21, 2018",PG-13,1 hr 56 min,"[Biography, Comedy, Drama, Fantasy, Romance]",376 days,"1,911 theaters",NaN
594,"My People, My Country","$2,356,683","$447,708,310","$450,064,993",CMC Pictures,"$876,001","Oct 1, 2019",NaN,2 hr 34 min,"[Drama, History]",94 days,83 theaters,NaN
595,Promare,"$2,529,324","$7,153,740","$9,683,064",GKIDS,"$109,085","Sep 17, 2019",PG-13,1 hr 51 min,"[Action, Adventure, Animation, Comedy, Drama, ...",876 days,701 theaters,NaN
596,Super 30,"$2,269,878","$22,431,759","$24,701,637",Reliance Big Pictures,"$871,256","Jul 12, 2019",NaN,2 hr 34 min,"[Biography, Drama]",173 days,317 theaters,NaN
597,Faustina: Love and Mercy,"$2,243,180","$1,255,707","$3,498,887",Fathom Events,NaN,"Oct 28, 2019",NaN,1 hr 47 min,"[Biography, Drama, Family]",67 days,810 theaters,NaN

In [92]:
## Unpickle the data 2018
df_18 = pd.read_pickle('2018 movie data')
df_18.tail(5)

,Name,Domestic,International,Worldwide,Distributor,Opening,Release Date,MPAA,Running Time,Genres,In Release,Widest Release,Budget
195,The Disaster Artist,"$21,120,616","$8,700,000","$29,820,616",A24,"$1,211,345","Dec 1, 2017",R,1 hr 44 min,"[Biography, Comedy, Drama]",396 days,"1,010 theaters",NaN
196,2001: A Space Odyssey,"$3,236,321","$848,261","$4,084,582",Warner Bros.,"$202,759","May 18, 2018",NaN,2 hr 29 min,"[Adventure, Sci-Fi]",228 days,13 theaters,"$12,000,000"
197,2.0,"$4,152,000","$32,793,969","$36,945,969",,"$2,775,000","Nov 30, 2018",NaN,2 hr 28 min,"[Action, Sci-Fi, Thriller]",35 days,314 theaters,NaN
198,The Leisure Seeker,"$3,226,443","$7,245,737","$10,472,180",Sony Pictures Classics,NaN,"Dec 15, 2017",R,1 hr 52 min,"[Adventure, Comedy, Drama, Romance]",382 days,353 theaters,NaN
199,The Sisters Brothers,"$3,143,056","$10,000,000","$13,143,056",Annapurna Pictures,"$115,575","Sep 21, 2018",R,2 hr 2 min,"[Crime, Drama, Western]",105 days,"1,141 theaters",NaN

In [93]:
## Concatenate data
all_21_20_19_18 = pd.concat([all_21_20_19,df_18], axis=0, ignore_index=True)
all_21_20_19_18.tail()

,Name,Domestic,International,Worldwide,Distributor,Opening,Release Date,MPAA,Running Time,Genres,In Release,Widest Release,Budget
793,The Disaster Artist,"$21,120,616","$8,700,000","$29,820,616",A24,"$1,211,345","Dec 1, 2017",R,1 hr 44 min,"[Biography, Comedy, Drama]",396 days,"1,010 theaters",NaN
794,2001: A Space Odyssey,"$3,236,321","$848,261","$4,084,582",Warner Bros.,"$202,759","May 18, 2018",NaN,2 hr 29 min,"[Adventure, Sci-Fi]",228 days,13 theaters,"$12,000,000"
795,2.0,"$4,152,000","$32,793,969","$36,945,969",,"$2,775,000","Nov 30, 2018",NaN,2 hr 28 min,"[Action, Sci-Fi, Thriller]",35 days,314 theaters,NaN
796,The Leisure Seeker,"$3,226,443","$7,245,737","$10,472,180",Sony Pictures Classics,NaN,"Dec 15, 2017",R,1 hr 52 min,"[Adventure, Comedy, Drama, Romance]",382 days,353 theaters,NaN
797,The Sisters Brothers,"$3,143,056","$10,000,000","$13,143,056",Annapurna Pictures,"$115,575","Sep 21, 2018",R,2 hr 2 min,"[Crime, Drama, Western]",105 days,"1,141 theaters",NaN

In [94]:
## Unpickle the data 2017
df_17 = pd.read_pickle('2017 movie data')
df_17.tail(5)

,Name,Domestic,International,Worldwide,Distributor,Opening,Budget,Release Date,MPAA,Running Time,Genres,In Release,Widest Release
195,Showtime Championship Boxing: Floyd Mayweather...,"$2,620,183","$564,201","$3,184,384",Fathom Events,"$2,620,183",NaN,"Aug 26, 2017",NaN,48 min,[Sport],128 days,532 theaters
196,A Question of Faith,"$2,587,072","$2,587,072",Null,Pure Flix Entertainment,"$1,025,489",NaN,"Sep 29, 2017",PG,1 hr 44 min,[Drama],98 days,661 theaters
197,Is Genesis History?,"$2,570,392","$2,570,392",Null,Fathom Events,NaN,NaN,"Feb 23, 2017",NaN,1 hr 40 min,[Documentary],312 days,704 theaters
198,Disney's Newsies: The Broadway Musical!,"$2,545,060","$2,545,060",Null,Fathom Events,"$1,333,538",NaN,"Feb 18, 2017",PG,2 hr 29 min,[Musical],317 days,780 theaters
199,IN OUR HANDS: Battle for Jerusalem,"$2,534,370","$2,534,370",Null,Fathom Events,NaN,NaN,"May 23, 2017",NaN,1 hr 49 min,[Documentary],223 days,733 theaters

In [95]:
## Concatenate data
all_21_20_19_18_17 = pd.concat([all_21_20_19_18,df_17], axis=0, ignore_index=True)
all_21_20_19_18_17.tail()

,Name,Domestic,International,Worldwide,Distributor,Opening,Release Date,MPAA,Running Time,Genres,In Release,Widest Release,Budget
993,Showtime Championship Boxing: Floyd Mayweather...,"$2,620,183","$564,201","$3,184,384",Fathom Events,"$2,620,183","Aug 26, 2017",NaN,48 min,[Sport],128 days,532 theaters,NaN
994,A Question of Faith,"$2,587,072","$2,587,072",Null,Pure Flix Entertainment,"$1,025,489","Sep 29, 2017",PG,1 hr 44 min,[Drama],98 days,661 theaters,NaN
995,Is Genesis History?,"$2,570,392","$2,570,392",Null,Fathom Events,NaN,"Feb 23, 2017",NaN,1 hr 40 min,[Documentary],312 days,704 theaters,NaN
996,Disney's Newsies: The Broadway Musical!,"$2,545,060","$2,545,060",Null,Fathom Events,"$1,333,538","Feb 18, 2017",PG,2 hr 29 min,[Musical],317 days,780 theaters,NaN
997,IN OUR HANDS: Battle for Jerusalem,"$2,534,370","$2,534,370",Null,Fathom Events,NaN,"May 23, 2017",NaN,1 hr 49 min,[Documentary],223 days,733 theaters,NaN

In [96]:
## Unpickle the data 2016
df_16 = pd.read_pickle('2016 movie data')
df_16.tail(5)

,Name,Domestic,International,Worldwide,Distributor,Opening,Release Date,MPAA,Running Time,Genres,In Release,Widest Release,Budget
195,Green Room,"$3,220,371","$548,843","$3,769,214",A24,"$87,984","Apr 15, 2016",R,1 hr 35 min,"[Horror, Music, Thriller]",261 days,777 theaters,NaN
196,Our Kind of Traitor,"$3,153,157","$7,557,870","$10,711,027",Roadside Attractions,"$984,698","Jul 1, 2016",R,1 hr 48 min,"[Crime, Drama, Thriller]",184 days,399 theaters,NaN
197,Compadres,"$3,127,773","$4,225,771","$7,353,544",Pantelion Films,"$1,397,434","Apr 22, 2016",R,1 hr 41 min,"[Action, Comedy, Crime]",254 days,368 theaters,NaN
198,The Martian,"$228,433,663","$401,728,227","$630,161,890",Twentieth Century Fox,"$54,308,575","Oct 2, 2015",PG-13,2 hr 24 min,"[Adventure, Drama, Sci-Fi]",457 days,"3,854 theaters","$108,000,000"
199,The Other Side of the Door,"$3,000,342","$11,332,125","$14,332,467",Twentieth Century Fox,"$1,211,210","Mar 4, 2016",R,1 hr 36 min,[Horror],303 days,585 theaters,NaN

In [97]:
## Concatenate data
all_data = pd.concat([all_21_20_19_18_17,df_16], axis=0, ignore_index=True)
all_data.tail()

,Name,Domestic,International,Worldwide,Distributor,Opening,Release Date,MPAA,Running Time,Genres,In Release,Widest Release,Budget
1193,Green Room,"$3,220,371","$548,843","$3,769,214",A24,"$87,984","Apr 15, 2016",R,1 hr 35 min,"[Horror, Music, Thriller]",261 days,777 theaters,NaN
1194,Our Kind of Traitor,"$3,153,157","$7,557,870","$10,711,027",Roadside Attractions,"$984,698","Jul 1, 2016",R,1 hr 48 min,"[Crime, Drama, Thriller]",184 days,399 theaters,NaN
1195,Compadres,"$3,127,773","$4,225,771","$7,353,544",Pantelion Films,"$1,397,434","Apr 22, 2016",R,1 hr 41 min,"[Action, Comedy, Crime]",254 days,368 theaters,NaN
1196,The Martian,"$228,433,663","$401,728,227","$630,161,890",Twentieth Century Fox,"$54,308,575","Oct 2, 2015",PG-13,2 hr 24 min,"[Adventure, Drama, Sci-Fi]",457 days,"3,854 theaters","$108,000,000"
1197,The Other Side of the Door,"$3,000,342","$11,332,125","$14,332,467",Twentieth Century Fox,"$1,211,210","Mar 4, 2016",R,1 hr 36 min,[Horror],303 days,585 theaters,NaN

In [98]:
## Pickle this dataframe!
all_data.to_pickle('movie_data_combined_years')

In [100]:
print(all_data['Budget'].isna().sum())
print(all_data.shape)

657
(1198, 13)

In [51]:
## Cleaning
all_data['domestic_dollars'] = all_data.Domestic.str.replace('$', '')
all_data['international_dollars'] = all_data.International.str.replace('$', '')
all_data['opening_weekend_dollars'] = all_data.International.str.replace('$', '')
all_data['released_theatres'] = all_data['Widest Release'].str.replace('theaters', '')
all_data['days_in_release'] = all_data['In Release'].str.replace('days', '')

all_data.head()

/var/folders/9b/ptk_z8b16gl93l2b679w97q40000gn/T/ipykernel_82477/2202901137.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  all_data['domestic_dollars'] = all_data.Domestic.str.replace('$', '')
/var/folders/9b/ptk_z8b16gl93l2b679w97q40000gn/T/ipykernel_82477/2202901137.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  all_data['international_dollars'] = all_data.International.str.replace('$', '')
/var/folders/9b/ptk_z8b16gl93l2b679w97q40000gn/T/ipykernel_82477/2202901137.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  all_data['opening_weekend_dollars'] = all_data.International.str.replace('$', '')

,Name,Domestic,International,Worldwide,Distributor,Opening,Release Date,MPAA,Running Time,Genres,In Release,Widest Release,Budget,domestic_dollars,international_dollars,opening_weekend_dollars,released_theatres,days_in_release
0,Spider-Man: No Way Home,"$750,429,025","$1,027,000,000","$1,777,429,025",Sony Pictures Entertainment (SPE),"$260,138,569","Dec 17, 2021",PG-13,2 hr 28 min,"[Action, Adventure, Fantasy, Sci-Fi]",54 days,"4,336 theaters",NaN,"750,429,025","1,027,000,000","1,027,000,000","4,336",54
1,Shang-Chi and the Legend of the Ten Rings,"$224,543,292","$207,689,718","$432,233,010",Walt Disney Studios Motion Pictures,"$75,388,688","Sep 3, 2021",PG-13,2 hr 12 min,"[Action, Adventure, Fantasy, Sci-Fi]",159 days,"4,300 theaters",NaN,"224,543,292","207,689,718","207,689,718","4,300",159
2,Venom: Let There Be Carnage,"$213,550,366","$288,500,000","$502,050,366",Sony Pictures Entertainment (SPE),"$90,033,210","Oct 1, 2021",PG-13,1 hr 37 min,"[Action, Adventure, Sci-Fi, Thriller]",131 days,"4,225 theaters",NaN,"213,550,366","288,500,000","288,500,000","4,225",131
3,Black Widow,"$183,651,655","$195,979,696","$379,631,351",Walt Disney Studios Motion Pictures,"$80,366,312","Jul 9, 2021",PG-13,2 hr 14 min,"[Action, Adventure, Sci-Fi]",215 days,"4,275 theaters",NaN,"183,651,655","195,979,696","195,979,696","4,275",215
4,F9: The Fast Saga,"$173,005,945","$553,223,556","$726,229,501",Universal Pictures,"$70,043,165","Jun 25, 2021",PG-13,2 hr 23 min,"[Action, Crime, Thriller]",229 days,"4,203 theaters",NaN,"173,005,945","553,223,556","553,223,556","4,203",229

In [41]:
all_data.shape

(1198, 18)

In [48]:
## Drop movies not realeased inernationally
all_data.drop(all_data[all_data['Worldwide'] == 'Null'].index, inplace = True)
all_data.shape

(1109, 18)

In [80]:
num_variables = all_data[['Name', 'domestic_dollars', 'international_dollars', 'opening_weekend_dollars', 'released_theatres', 'days_in_release']]

num_variables.loc[:, 'domestic_dollars'] = num_variables['domestic_dollars'].apply(lambda x: x.replace('$', ''))
num_variables.loc[:, 'international_dollars'] = num_variables.international_dollars.str.replace(',', '')
num_variables.loc[:, 'opening_weekend_dollars'] = num_variables.opening_weekend_dollars.str.replace(',', '')
num_variables.loc[:,'released_theatres'] = num_variables.released_theatres.str.replace(',', '')
num_variables.loc[:,'days_in_release'] = num_variables.days_in_release.str.replace(',', '')


num_variables.dropna(inplace = True)
num_variables.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1105 entries, 0 to 1197
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     1105 non-null   object
 1   domestic_dollars         1105 non-null   object
 2   international_dollars    1105 non-null   object
 3   opening_weekend_dollars  1105 non-null   object
 4   released_theatres        1105 non-null   object
 5   days_in_release          1105 non-null   object
dtypes: object(6)
memory usage: 60.4+ KB

/Users/danielleronkos/opt/anaconda3/envs/metis/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [82]:
num_variables = num_variables.astype({'domestic_dollars': 'int', 'international_dollars': 'int', 
                                     'opening_weekend_dollars': 'int', 'released_theatres':'int', 'days_in_release': 'int'})
num_variables.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1105 entries, 0 to 1197
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     1105 non-null   object
 1   domestic_dollars         1105 non-null   int64
 2   international_dollars    1105 non-null   int64
 3   opening_weekend_dollars  1105 non-null   int64
 4   released_theatres        1105 non-null   int64
 5   days_in_release          1105 non-null   int64
dtypes: int64(5), object(1)
memory usage: 60.4+ KB

In [83]:
num_variables.to_pickle('MVP_data')

In [101]:
all_data.to_pickle('cleaned_data_no_franchise')